*{
	margin: 0;
	padding: 0;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
header{
	width: 100%;
	background-color: #EC715F;
	/*position: fixed;*/
}
nav{
	width: 90%;
	height: 70px;
	margin: 0 auto;
	text-align: right;
}
.title{
	float: left;
	height: 70px;
	width: 200px;
	line-height: 70px;
}

.title img{
	height: 70px;
}

.top-menu{
	float: right;
	width: 60%;
	line-height: 70px;
}
.top-menu-item{
	float: left;
	width: 25%;
	list-style: none;
	/*color: #FAFAFA;*/
}
.top-menu-item a{
	text-decoration: none;	
	color: #FAFAFA;
}

.haco{
	border: 1px solid #fff;
	width: 20px;
	padding: 5px;
	display: none;
}

.fa-bars{
	color: #fff;
	font-size: 25px;
	text-align: center;
}


/*section*/
h1{
    text-align: center;
    /*padding-top: 90px;*/
    padding-bottom: 8px;
    margin: 0 auto;
}
.line{
    background-color: #EC715F;
    width: 80px;
    height: 1px;
    margin: 0 auto;
}


h6{
    text-align: center;
    padding-top: 30px;
}
.large-box{
	width: 930px;  
	height: 600px;
	padding-top: 30px;
	padding-bottom: 90px;
	background-size: cover;
	margin: 0 auto;

}

.box{
	width: 300px;
	height: 300px;
	margin: 5px;
	border: 0;
	background-size: cover;
	float: left;
}

.box1{
	background-image: url(../../../①/34/img/sketch.jpg);
}
.box2{
    background-image: url(../../../①/34/img/websuku.png);
    background-position: -100px;	
}
.box3{
	background-image: url(../../../①/34/img/write.jpg);
}
.box4{
	background-image: url(../../../①/34/img/webcamp.png);
	background-position: -100px;
}
.box5{
	background-image: url(../../../①/34/img/talk.jpg);
}
.box6{
	background-image: url(../../../①/34/img/webcamp-mother.png);
	background-position: -100px;
}



@media all and (max-width: 767px){
	.pc{
		display: none;
	}

	.sp{
		display: block;
		background-position: center;
		float: none;
	}

	.large-box{
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
    
    .haco{
		width: 30px;
		float: left;
		line-height: 30px;
		text-align: center;
		margin-top: 20px;
		margin-left: 50px;
	}

    .top-menu{
    	width: 100%;
    }

    .top-menu-item{
    	display: none;
    	float: none;
    	width: 100%;
    	border: 1px solid #fff;
    	margin: 1px;
    	text-align: center;
    }


	.box{
		margin: 5px auto;

}